@using WinProApp.Resources
@using Microsoft.AspNetCore.Localization;
@model WinProApp.ViewModels.ProFormaInvoice.DetailsProFormaViewModel;
@{
    ViewData["Title"] = @WebResource.ProFormaInvoice + " " + @WebResource.Details;
}

<div class="row">
    <div class="col-md-12">
        <hr />
        <div class="row">
            <div class="form-floating col-md-2">
                <label for="Id">@WebResource.ID</label>
                : @Model.Id
            </div>
            <div class="form-floating col-md-2">
                <label for="Date">@WebResource.Date</label>
                : @Model.Date
            </div>
            <div class="form-floating col-md-4">
                <label asp-for="ShippingAddress">@WebResource.ShippingAddress</label>
                : @Model.ShippingAddress
            </div>
            <div class="form-floating col-md-3">
                <label asp-for="ShippingMethod">@WebResource.ShippingMethod</label>
                : @Model.ShippingMethod
            </div>
        </div>
        <div class="row">
            <div class="form-floating col-md-3">
                <label asp-for="ShippingAmount">@WebResource.ShippingAmount</label>
                : @Model.ShippingAmount
            </div>
            <div class="form-floating col-md-3">
                <label for="DeliveryDate">@WebResource.DeliveryDate</label>
                : @Model.DeliveryDate
            </div>
        </div>
        <div class="row">
            <div class="form-floating col-md-6">
                <label asp-for="Remarks">@WebResource.Remarks</label>
                : @Model.Remarks
            </div>
            <div class="form-floating col-md-3">
                <label asp-for="Approved">@WebResource.Approved</label>
                : @Model.Approved
            </div>
        </div>
        <div class="row">
            <div class="form-floating col-md-12">
                <h4>@WebResource.Items</h4>
            </div>

            <table id="tblItems" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-2">@WebResource.PartNo</th>
                        <th class="col-md-2">@WebResource.Description</th>
                        <th class="col-md-2">@WebResource.Unit</th>
                        <th class="col-md-1">@WebResource.Qty</th>
                        <th class="col-md-1">@WebResource.Price</th>
                        <th class="col-md-1">@WebResource.Tax</th>
                        <th class="col-md-2">@WebResource.Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.PartNo</td>
                            <td>@item.Description</td>
                            <td>@item.Unit</td>
                            <td>@item.Qty</td>
                            <td>@item.Price</td>
                            <td>@item.Tax</td>
                            <td>@item.Total</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}