@using WinProApp.Resources
@using Microsoft.AspNetCore.Localization;
@using WinProApp.ViewModels.Merchant.GetPrecentageOff;
@model AddEditViewModel;
@{
    ViewData["Title"] = "Get Precentage Off Discount";
   // Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<style>
    #tblDataTable_filter > label {
        width: 60%;
    }

        #tblDataTable_filter > label > .form-control-sm {
            width: 87%;
        }

</style>

<div class="row">
    <div class="col-md-12">
        <h5 id="subTitle">@WebResource.Create @WebResource.Buy @WebResource.Items @WebResource.Get % Off @WebResource.Discount</h5>
        <form id="manageForm" method="post" asp-action="CreateUpdateGetPrecentageOffDiscount" asp-controller="Merchant" method="post" data-ajax-method="post" data-ajax="true" data-ajax-failure="OnFailure" data-ajax-success="OnSuccess">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="0" />
            <div class="row">
                <div class="form-floating col-md-3">
                    <label asp-for="StoreId">@WebResource.Store</label>
                    <select id="StoreId" name="StoreId" class="form-control" asp-items="@ViewBag.StoreInfo">
                        <option value="0">All</option>
                    </select>
                    <span asp-validation-for="StoreId" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-2">
                    <label asp-for="IsMembersOnly">@WebResource.Type</label>
                    <select id="IsMembersOnly" name="IsMembersOnly" class="form-control">
                        <option value="false">All Customers</option>
                        <option value="true">Members Only</option>
                    </select>
                    <span asp-validation-for="IsMembersOnly" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-2">
                    <label asp-for="StartDate">@WebResource.Start @WebResource.Date</label>
                    <input type="text" id="StartDate" name="StartDate" class="form-control datefield" value="" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-2">
                    <label asp-for="EndDate">@WebResource.End @WebResource.Date</label>
                    <input type="text" id="EndDate" name="EndDate" class="form-control datefield" value="" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-md-3">
                    <input asp-for="BuyProductId" type="hidden" value="0" />
                    <label asp-for="BuyBarcode">@WebResource.Buy @WebResource.Product @WebResource.Barcode</label>
                    <input asp-for="BuyBarcode" class="form-control" />
                    <span asp-validation-for="BuyBarcode" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-1">
                    <label asp-for="BuyQty">@WebResource.Buy  @WebResource.Qty</label>
                    <input asp-for="BuyQty" class="form-control" />
                    <span asp-validation-for="BuyQty" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-1">
                    <label asp-for="OffPrecentage">Off %</label>
                    <input asp-for="OffPrecentage" class="form-control" />
                    <span asp-validation-for="OffPrecentage" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-2">
                    <label asp-for="Approved">@WebResource.Approved</label>
                    <select id="Approved" name="Approved" class="form-control">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                    <span asp-validation-for="Approved" class="text-danger"></span>
                </div>
            </div>

            <div style="width:100%; padding:5px; height:10px;">&nbsp;</div>
            <button id="saveBtn" type="submit" class="w-100 btn btn-lg btn-primary col-md-3">@WebResource.Save</button>
            <input type="button" id="reloadBtn" type="submit" class="w-100 btn btn-lg btn-primary col-md-3" value="@WebResource.Refresh" />
        </form>
    </div>

</div>

<div class="row card p-xl-5">
    <div class="col-sm-12">
        <hr />
        <h3>@WebResource.Discount @WebResource.List</h3>
        <table id="tblDataTable" class="table table-striped table-bordered dataTable table-hover">
            <thead>
                <tr>
                    <th>
                        @WebResource.ID
                    </th>
                    <th>
                        @WebResource.Store
                    </th>
                    <th>
                        @WebResource.Buy @WebResource.Product @WebResource.Barcode
                    </th>
                    <th>
                        @WebResource.Buy @WebResource.Qty
                    </th>
                    <th>
                        % Off
                    </th>
                    <th>
                        @WebResource.Start @WebResource.Date
                    </th>
                    <th>
                        @WebResource.End @WebResource.Date
                    </th>
                    <th>
                        @WebResource.Type
                    </th>
                    <th>
                        @WebResource.Approved
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');
        var curId = $("#Id").val();
        var msg1 = "@Html.Raw(WebResource.CreatedSuccessfully)";
        var msg2 = "@Html.Raw(WebResource.RecordCreated)";



        function OnSuccess(data, status, xhr) {
            if (parseInt(curId) > 0) {
                msg1 = "@Html.Raw(WebResource.UpdatedSuccessfully)";
                msg2 = "@Html.Raw(WebResource.RecordUpdated)";
            }
            else {
                msg1 = "@Html.Raw(WebResource.CreatedSuccessfully)";
                msg2 = "@Html.Raw(WebResource.RecordCreated)";
            }
            swal({
                type: 'success',
                title: msg1,
                text: msg2,
                closeOnClickOutside: false,
                closeOnEsc: false,
                button: {
                    className: "btn theme waves-effect waves-light"
                }
            }).then((value) => {
                window.location.replace("/Merchant/GetPrecentageOffDiscount");
            });
        }

        function OnFailure(xhr, status, error) {
            swal({
                type: 'error',
                title: "@Html.Raw(WebResource.Oops)",
                text: "@Html.Raw(WebResource.SomethingWentWrong)",
            }).then(x => {
                Ladda.stopAll();
            });
        }


        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });

        $("form").bind("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });

        $(document).ready(function () {
            bindDataTable(0);
        });

        function bindDataTable(start) {
            if ($.fn.DataTable.isDataTable("#tblDataTable")) {
                $('#tblDataTable').DataTable().destroy();
            }

            var table = $('#tblDataTable').DataTable(
                {
                    serverSide: true,
                    responsive: true,
                    displayStart: start,
                    iDisplayLength: 20,
                    order: [[1, 'desc']],
                    lengthMenu: [10, 20, 30, 50, 100],
                    sAjaxSource: "/Merchant/GetPrecentageOffDiscountList",
                    sServerMethod: "POST",
                    "columns": [
                        {
                            data: "Id",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "StoreName",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "BuyBarcode",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "BuyQty",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "OffPrecentage",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "StartDate",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "EndDate",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "IsMembersOnly",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Approved",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Id",
                            searchable: false,
                            orderable: false,
                            class: "dtr-control",
                            render: function (data, type, row) {
                                var content = '<div style="display:flex">'
                                content += '<a href="JavaScript:" data-toggle="tooltip" data-original-title="Edit" data-flag="edit" title="@WebResource.Edit" data-Id="' + data + '" class="btn btn-primary btn-sm action editInfo"> <i class="fa fa-edit"></i></a>';
                                content += '&nbsp;<a href="JavaScript:" data-toggle="tooltip" data-original-title="Delete" data-flag="Activate" title="@WebResource.Delete" data-Id="' + data + '" class="btn btn-danger btn-sm action removeInfo"><i class="fa fa-times"></i></a>';
                                content += '&nbsp;</div>';

                                return content;
                            }
                        }
                    ],
                });

            // new $.fn.dataTable.FixedHeader(table);
        };


        function CurrentPageStart() {
            var table = $('#tblDataTable').DataTable();
            var info = table.page.info();
            return info.start;
        }

        $(document).on("click", ".editInfo", function () {
            var subtitle = "@WebResource.Edit" + " " + "@WebResource.Buy" + " " + "@WebResource.Get" + " % Off " +  "@WebResource.Discount";
            $("#subTitle").text(subtitle);
            var Id = $(this).attr("data-id");
            curId = Id;
            $.ajax({
                url: "/Merchant/GetPrecentageOffDiscountInfo/" + Id,
                type: "GET",
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    $("#Id").val(Id);
                    $("#StoreId").val(result.StoreId);
                    $("#BuyProductId").val(result.BuyProductId);
                    $("#BuyBarcode").val(result.BuyBarcode);
                    $("#BuyQty").val(result.BuyQty);
                    $("#OffPrecentage").val(result.OffPrecentage);
                    $("#IsMembersOnly").val(result.IsMembersOnly);
                    $("#StartDate").val(result.StartDate);
                    $("#EndDate").val(result.EndDate);
                    $("#Approved").val(result.Approved);
                },
                error: function () {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });

        $(document).on("click", ".removeInfo", function () {
            var Id = $(this).attr("data-id");
            swal({
                title: "@Html.Raw(WebResource.Confirm)",
                text: "@Html.Raw(WebResource.DeleteConfirmMessage)",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: " @Html.Raw(WebResource.Yes) ",
                cancelButtonText: " @Html.Raw(WebResource.No) ",
            });

            $(".swal2-confirm").on("click", function () {
                $.ajax({
                    url: "/Merchant/DeleteGetPrecentageOffDiscount/" + Id,
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        swal({
                            type: 'error',
                            title: "@Html.Raw(WebResource.Oops)",
                            text: "@Html.Raw(WebResource.SomethingWentWrong)",
                        });
                    }
                });
            });
        });

        $("#reloadBtn").click(function () {
            location.reload();
        })

        $("#BuyBarcode").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Merchant/GetProductBarcodes",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        if (!data.length) {
                            var result = [
                                {
                                    label: 'No matches found',
                                    value: response.term
                                }
                            ];
                            response(result);
                        }
                        else {
                            response($.map(data, function (item) {
                                return { label: item.BarcodeWithName, value: item.Barcode, title: item.Id };
                            }))
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    }
                })
            },
            minLength: 1,
            select: function (event, ui) {
                $("#BuyProductId").val('0');
                $("#BuyBarcode").val(ui.item.value);
                $("#BuyProductId").val(ui.item.title);
            }
        });
        
    </script>
}
