@using WinProApp.Resources
@using Microsoft.AspNetCore.Localization;
@using WinProApp.ViewModels.Warehouse.Asset;
@model AddEditViewModel;

@{
    ViewData["Title"] = @WebResource.Manage + " " + @WebResource.Asset;

    string allowed = "No";
    if (User.IsInRole("Administrator") || User.IsInRole("Warehouse") || User.IsInRole("Manager"))
    {
        allowed = "Yes";
    }
}

<style>
    #tblDataTable_filter > label {
        width: 60%;
    }

        #tblDataTable_filter > label > .form-control-sm {
            width: 87%;
        }

</style>

<div class="row">
    <div class="col-md-12">
        <h5 id="subTitle">@WebResource.Create @WebResource.Asset</h5>
        <form id="manageForm" method="post" asp-action="CreateUpdateAsset" asp-controller="Warehouse" method="post" data-ajax-method="post" data-ajax="true" data-ajax-failure="OnFailure" data-ajax-success="OnSuccess">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="0" />
            <div class="row">
                <div class="form-floating col-md-4">
                    <label for="AssetTypeId">@WebResource.Asset @WebResource.Type</label>
                    <select asp-for="AssetTypeId" class="form-control lst2" asp-items="@ViewBag.AssetTypes">
                        <option value="">@WebResource.Asset @WebResource.Type</option>
                    </select>
                    <span asp-validation-for="AssetTypeId" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-4">
                    <label asp-for="AssetDepartmentId">@WebResource.Asset @WebResource.Department</label>
                    <select asp-for="AssetDepartmentId" class="form-control lst2" asp-items="@ViewBag.AssetDepartments">
                        <option value="">@WebResource.Asset @WebResource.Department</option>
                    </select>
                    <span asp-validation-for="AssetDepartmentId" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-4">
                    <label asp-for="AssetLocationId">@WebResource.Asset @WebResource.Location</label>
                    <select asp-for="AssetLocationId" class="form-control lst2" asp-items="@ViewBag.AssetLocations">
                        <option value="">@WebResource.Asset @WebResource.Location</option>
                    </select>
                    <span asp-validation-for="AssetLocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-md-4">
                    <label asp-for="Barcode">@WebResource.Barcode</label>
                    <input asp-for="Barcode" class="form-control" />
                    <span asp-validation-for="Barcode" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-4">
                    <label asp-for="AssetNameEng">@WebResource.Asset @WebResource.NameEng</label>
                    <input asp-for="AssetNameEng" class="form-control" />
                    <span asp-validation-for="AssetNameEng" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-4">
                    <label asp-for="AssetNameArabic">@WebResource.Asset @WebResource.NameArabic</label>
                    <input asp-for="AssetNameArabic" class="form-control" />
                    <span asp-validation-for="AssetNameArabic" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-floating col-md-3">
                    <label asp-for="DesignationOfStaff">@WebResource.DesignationOfStaff </label>
                    <input asp-for="DesignationOfStaff" class="form-control" />
                    <span asp-validation-for="DesignationOfStaff" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-3">
                    <label asp-for="ManufactureName">@WebResource.Manufacture</label>
                    <input asp-for="ManufactureName" class="form-control" />
                    <span asp-validation-for="ManufactureName" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-3">
                    <label asp-for="WarrentyPeriod">@WebResource.WarrantyPeriod</label>
                    <input asp-for="WarrentyPeriod" class="form-control" />
                    <span asp-validation-for="WarrentyPeriod" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-3">
                    <label asp-for="Temp">@WebResource.Asset @WebResource.Temp</label>
                    <input asp-for="Temp" class="form-control" />
                    <span asp-validation-for="Temp" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-floating col-md-4">
                    <label for="ManufactureDate">@WebResource.Manufacture @WebResource.Date</label>
                    <input name="ManufactureDate" id="ManufactureDate" type="text" class="form-control datefield" />
                    <span asp-validation-for="ManufactureDate" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-4">
                    <label for="ExpireDate">@WebResource.ExpireDate</label>
                    <input name="ExpireDate" id="ExpireDate" type="text" class="form-control datefield" />
                    <span asp-validation-for="ExpireDate" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-4">
                    <label asp-for="AssetValue">@WebResource.Asset @WebResource.Value</label>
                    <input asp-for="AssetValue" class="form-control" />
                    <span asp-validation-for="AssetValue" class="text-danger"></span>
                </div>
            </div>

            <div style="width:100%; padding:5px; height:10px;">&nbsp;</div>
            <button id="saveBtn" type="submit" class="w-100 btn btn-lg btn-primary col-md-3">@WebResource.Save</button>
        </form>
    </div>

</div>


<div class="row card p-xl-5">
    <div class="col-sm-12">
        <hr />
        <h3>@WebResource.Asset @WebResource.List</h3>
        <table id="tblDataTable" class="table table-striped table-bordered dataTable table-hover">
            <thead>
                <tr>
                    <th>
                        @WebResource.ID
                    </th>
                    <th>
                        @WebResource.Asset @WebResource.Type @WebResource.English
                    </th>
                    <th>
                        @WebResource.Asset @WebResource.Type @WebResource.Arabic
                    </th>
                     <th>
                        @WebResource.Asset @WebResource.Department @WebResource.English
                    </th>
                     <th>
                        @WebResource.Asset @WebResource.Department @WebResource.Arabic
                    </th>
                    <th>
                        @WebResource.Asset @WebResource.Location @WebResource.English
                    </th>
                    <th>
                        @WebResource.Asset @WebResource.Location @WebResource.Arabic
                    </th>
                     <th>
                        @WebResource.Barcode
                    </th>
                    <th>
                        @WebResource.Asset @WebResource.Name @WebResource.English
                    </th>
                     <th>
                        @WebResource.Asset @WebResource.Name  @WebResource.Arabic
                    </th>
                    <th>
                        @WebResource.DesignationOfStaff
                    </th>
                     <th>
                        @WebResource.Manufacture @WebResource.Name
                    </th>
                     <th>
                        @WebResource.WarrantyPeriod
                    </th>
                    <th>
                        @WebResource.Temp
                    </th>
                     <th>
                        @WebResource.Manufacture @WebResource.Date
                    </th>
                     <th>
                        @WebResource.ExpireDate
                    </th>
                    <th>
                        @WebResource.Asset @WebResource.Value
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        function OnSuccess(data, status, xhr) {
            var curId = $("#Id").val();
            if (parseInt(curId) > 0) {
                msg1 = "@Html.Raw(WebResource.UpdatedSuccessfully)";
                msg2 = "@Html.Raw(WebResource.RecordUpdated)";
            }
            else {
                msg1 = "@Html.Raw(WebResource.CreatedSuccessfully)";
                msg2 = "@Html.Raw(WebResource.RecordCreated)";
            }
            swal({
                type: 'success',
                title: msg1,
                text: msg2,
                closeOnClickOutside: false,
                closeOnEsc: false,
                button: {
                    className: "btn theme waves-effect waves-light"
                }
            }).then((value) => {
                window.location.replace("/Warehouse/Assets");
            });
        }

        function OnFailure(xhr, status, error) {
            swal({
                type: 'error',
                title: "@Html.Raw(WebResource.Oops)",
                text: "@Html.Raw(WebResource.SomethingWentWrong)",
            }).then(x => {
                Ladda.stopAll();
            });
        }

        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });

        $("form").bind("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });

        $('.lst2').select2();

        $(document).ready(function () {
            bindDataTable(0);
        });

        var allowed = "@allowed";
        function bindDataTable(start) {
            if ($.fn.DataTable.isDataTable("#tblDataTable")) {
                $('#tblDataTable').DataTable().destroy();
            }

            var table = $('#tblDataTable').DataTable(
                {
                    serverSide: true,
                    responsive: true,
                    displayStart: start,
                    iDisplayLength: 20,
                    order: [[1, 'desc']],
                    lengthMenu: [10, 20, 30, 50, 100],
                    sAjaxSource: "/Warehouse/AssetList",
                    sServerMethod: "POST",
                    "columns": [
                        {
                            data: "Id",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "AssetTypeNameEng",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "AssetTypeNameArabic",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "AssetDepartmentNameEng",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "AssetDepartmentNameArabic",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "AssetLocationNameEng",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "AssetLocationNameArabic",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Barcode",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "AssetNameEng",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "AssetNameArabic",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "DesignationOfStaff",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "ManufactureName",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "WarrentyPeriod",
                            searchable: true,
                            class: "dtr-control"
                        },
                         {
                            data: "Temp",
                            searchable: true,
                            class: "dtr-control"
                        },
                         {
                            data: "ManufactureDate",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "ExpireDate",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "AssetValue",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Id",
                            searchable: false,
                            orderable: false,
                            class: "dtr-control",
                            render: function (data, type, row) {
                                var content = '<div style="display:flex">'
                                content += '<a href="JavaScript:" data-toggle="tooltip" data-original-title="Edit" data-flag="edit" title="@WebResource.Edit" data-Id="' + data + '" class="btn btn-primary btn-sm action editInfo"> <i class="fa fa-edit"></i></a>';
                                if (allowed == "Yes") {
                                    content += '&nbsp;<a href="JavaScript:" data-toggle="tooltip" data-original-title="Delete" data-flag="Activate" title="@WebResource.Delete" data-Id="' + data + '" class="btn btn-danger btn-sm action removeInfo"><i class="fa fa-times"></i></a>';
                                }
                                content += '&nbsp;</div>';

                                return content;
                            }
                        }
                    ],
                });

            // new $.fn.dataTable.FixedHeader(table);
        };


        function CurrentPageStart() {
            var table = $('#tblDataTable').DataTable();
            var info = table.page.info();
            return info.start;
        }

        $(document).on("click", ".editInfo", function () {
            var subtitle = "@WebResource.Edit" + " " + "@WebResource.Store";
            $("#subTitle").text(subtitle);
            var Id = $(this).attr("data-id");
            curId = Id;
            $.ajax({
                url: "/Warehouse/GetAssetInfo/" + Id,
                type: "GET",
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    $("#Id").val(Id);
                    $("#AssetTypeId").val(result.AssetTypeId);
                    $("#AssetTypeId").trigger('change.select2');
                    $("#AssetDepartmentId").val(result.AssetDepartmentId);
                    $("#AssetDepartmentId").trigger('change.select2');
                    $("#AssetLocationId").val(result.AssetLocationId);
                    $("#AssetLocationId").trigger('change.select2');
                    $("#Barcode").val(result.Barcode);
                    $("#AssetNameEng").val(result.AssetNameEng);
                    $("#AssetNameArabic").val(result.AssetNameArabic);
                    $("#DesignationOfStaff").val(result.DesignationOfStaff);
                    $("#ManufactureName").val(result.ManufactureName);
                    $("#WarrentyPeriod").val(result.WarrentyPeriod);
                    $("#Temp").val(result.Temp);
                    $("#ManufactureDate").val(result.ManufactureDate);
                    $("#ExpireDate").val(result.ExpireDate);
                    $("#AssetValue").val(result.AssetValue);
                },
                error: function () {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });

        $(document).on("click", ".removeInfo", function () {
            var Id = $(this).attr("data-id");
            swal({
                title: "@Html.Raw(WebResource.Confirm)",
                text: "@Html.Raw(WebResource.DeleteConfirmMessage)",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: " @Html.Raw(WebResource.Yes) ",
                cancelButtonText: " @Html.Raw(WebResource.No) ",
            });

            $(".swal2-confirm").on("click", function () {
                $.ajax({
                    url: "/Warehouse/DeleteAsset/" + Id,
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        swal({
                            type: 'error',
                            title: "@Html.Raw(WebResource.Oops)",
                            text: "@Html.Raw(WebResource.SomethingWentWrong)",
                        });
                    }
                });
            });
        });

    </script>
}

