<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li id="purcahseMenuBlock" class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-shopping-basket"></i>
                <p>@WebResource.PurcahseAndPocurment</p>
                <i class="fas fa-angle-left right"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-file nav-icon"></i>
                        <p>@WebResource.RequestForInformation_RFI</p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Purchase/CreateRequestForInfo" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.New</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Purchase/RequestForInfo" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Manage</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/RequestForQuotation" class="nav-link">
                        <i class="fas fa-file nav-icon"></i>
                        <p>@WebResource.RequestForQuotation_RFQ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/RequestForPurchase" class="nav-link">
                        <i class="fas fa-forward nav-icon"></i>

                        <p>@WebResource.CreatePR_PurchaseRequest</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-list nav-icon"></i>
                        <p>@WebResource.CreatePO_PurchaseOrder</p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Purchase/CreatePurchaseOrder" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.New</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Purchase/PurchaseOrders" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Manage</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-file-invoice nav-icon"></i>
                        <p>@WebResource.CreatePI_PorformaInvoice</p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Purchase/CreateProFormaInvoice" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.New</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Purchase/ProFormaInvoices" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Manage</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-industry nav-icon"></i>
                        <p>@WebResource.Supplier</p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Purchase/CreateSupplier" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.New</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Purchase/Suppliers" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Manage</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-file-invoice nav-icon"></i>
                        <p>@WebResource.PurchaseInvoice</p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Purchase/CreateInvoice" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Create</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Purchase/PurchaseInvoices" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Manage</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-compass nav-icon"></i>
                        <p>@WebResource.PurchaseBusinessassets</p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Purchase/CreateAssetInvoice" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Create</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Purchase/PurchaseAsset" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Manage</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-chevron-circle-right nav-icon"></i>
                        <p>@WebResource.Damagedecliration</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-reply nav-icon"></i>
                        <p>@WebResource.GoodsReturntosupplier</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-ship nav-icon"></i>
                        <p>@WebResource.Shipment</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Shipping/Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.ShipmentEntry</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Shipping/Import" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Shipment @WebResource.In</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Shipping/ShippingInfo" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Manage</p>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-clone nav-icon"></i>
                <p>@WebResource.Reports</p>
                <i class="fas fa-angle-left right"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Purchase/CreateReport?type=supplier" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.Supplier @WebResource.List</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/CreateReport/?type=statement" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.Supplier Statement</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/CreateReport/?type=invoice" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.Purchase @WebResource.Invoice</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/CreateReport/?type=receive" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.Purchase @WebResource.Receive</p>
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="/Purchase/Report/Supplier" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.Purchase Discrepency</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Sales/CreateReport/?type=invoice" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.SalesReport</p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="/Purchase/CreateReport/?type=rfi" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.RequestForInformation_RFI</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/CreateReport/?type=rfq" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.RequestForQuotation_RFQ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/CreateReport/?type=rfp" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.RequestForPurchase</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/CreateReport/?type=po" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.PurchaseOrder</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/Report/Supplier" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.Supplier Payment</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/Report/Supplier" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                       <p>Unpaid</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/Report/Supplier" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Payable Aging</p>
                    </a>
                </li>
@*                <li class="nav-item">
                    <a href="/Purchase/Report/Supplier" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.Purchase Summary</p>
                    </a>
                </li>*@
                <li class="nav-item">
                    <a href="/Purchase/CreateReport/?type=shipment" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.Shipment</p>
                    </a>
                </li>
               @* <li class="nav-item">
                    <a href="/Purchase/Report/Supplier" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.Shipment @WebResource.In</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Purchase/Report/Supplier" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@WebResource.Shipment Discripency</p>
                    </a>
                </li>*@
            </ul>
        </li>
     </ul>
</nav>