<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li id="warehouseMenuBock" class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-bullhorn"></i>
                <p>
                    Merchant and Promotions
                </p>
                <i class="fas fa-angle-left right"></i>
            </a>
            <ul class="nav nav-treeview">
                 <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-bullhorn nav-icon"></i>
                        <p>@WebResource.PromotionandOffer</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Merchant/ManageFlatDiscount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.FullShopDiscount</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Merchant/SelectedItemDiscount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.SelectedItemDiscount</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Merchant/BuyGetQtyDiscount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.BuyandGetanyQty</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Merchant/BuyGetLowestDiscount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.BuyandGetLowest</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Merchant/GetPrecentageOffDiscount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.BuyanyQtyandget_100percent</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Merchant/GetAmountOffDiscount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.BuyanyQtyandgetamountoff</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Merchant/VoucherDiscount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Buyandgetpromotionvoucher</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-list nav-icon"></i>
                        <p>@WebResource.CorporateEmployee</p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Merchant/CreateCorporateEmployee" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.New</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Merchant/CorporateEmployees" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Manage</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-share nav-icon"></i>
                        <p>@WebResource.LoeltyCard</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Merchant/NewCardIssue" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Createloeltycard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Merchant/PointSystem" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.DeifinePointSystem</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Merchant/PointBalance" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.CheckPoints</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.OfferValuepack</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@WebResource.Reportsofcard</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

</ul>
</nav>