@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ReportType = ViewBag.Type;
    string allowed = "No";
    if (User.IsInRole("Administrator") || User.IsInRole("Purchase") || User.IsInRole("Manager"))
    {
        allowed = "Yes";
    }
}

<style>
    #tblDataTable_filter > label {
        width: 60%;
    }

    #tblDataTable_filter > label > .form-control-sm {
        width: 87%;
    }
</style>

@if (ReportType == "supplier") {
<div class="row card card-success">
    <div class="card-header"><h3 class="card-title">@WebResource.Supplier @WebResource.Report</h3></div>
    <div class="card-body row">
        <div class="col-md12" id="printSupplier">
                <div class="row col-md12" style="margin-top:20px;">
                        <div class="col-md-4">
                            <label for="RecordType">Report Criteria</label>
                            <select name="RecordType" id="RecordType" class="form-control">
                                <option value="all">All</option>
                                <option value="equal">Only equal balance</option>
                                <option value="less">Less than or equal balance</option>
                                <option value="greter">Greter than or equal balance</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Balance">Balance</label>
                            <input type="number" class="form-control" id="txtBalance" name="txtBalance" value="" />
                        </div>
                         <div class="col-md-6">
                            <label for="Orientation">Orientation</label>
                            <select name="pageType" id="pageType" class="form-control">
                                <option value="Portrait">Portrait</option>
                                <option value="Landscape">Landscape</option>
                            </select>
                        </div>
                </div>
            <div class="row col-md-12">
                        <div class="form-floating col-md-12">
                        <h4>Report Columns</h4>
                        </div>
                        <div class="row col-md-12">
                        <div class="col-md-2">
                            <input type="checkbox" name="CompanyName" id="CompanyName" value="Company Name" class="chPrint" checked disabled />
                            <label for="CompanyName" style="font-weight:400;">CompanyName</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" name="DescriptionEn" id="DescriptionEn" value="BPcode" class="chPrint" checked />
                            <label for="BPcode" style="font-weight:400;">BPcode</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" name="Address" id="Address" value="Address" class="chPrint" checked />
                            <label for="Address" style="font-weight:400;">Address</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" name="Phone" id="Phone" value="Phone" class="chPrint" />
                            <label for="Phone" style="font-weight:400;">Phone</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" name="Fax" id="Fax" value="Fax" class="chPrint" />
                            <label for="Fax" style="font-weight:400;">Fax</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" name="Email" id="Email" value="Email" class="chPrint" />
                            <label for="Email" style="font-weight:400;">Email</label>
                        </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2">
                    <input type="checkbox" name="Website" id="Website" value="Website" class="chPrint" />
                    <label for="Website" style="font-weight:400;">Website</label>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" name="VatNo" id="VatNo" value="VatNo" class="chPrint" />
                    <label for="VatNo" style="font-weight:400;">VatNo</label>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" name="Bank" id="Bank" value="Bank" class="chPrint" />
                    <label for="Bank" style="font-weight:400;">Bank</label>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" name="AccountNo" id="AccountNo" value="Account No" class="chPrint" />
                    <label for="AccountNo" style="font-weight:400;">AccountNo</label>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" name="CRNumber" id="CRNumber" value="CR Number" class="chPrint" />
                    <label for="CRNumber" style="font-weight:400;">CR Number</label>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" name="OpeningBalance" id="OpeningBalance" value="Opening Balance" class="chPrint" checked />
                    <label for="OpeningBalance" style="font-weight:400;">Opening Balance</label>
                </div>                         
            </div>

            <div class="row col-md-12">
                <div class="col-md-4">
                    <input type="checkbox" name="Balance" id="Balance" value="Balance" class="chPrint" checked />
                    <label for="Balance" style="font-weight:400;">Balance</label>
                 </div>
            </div>
        </div>
            <form id="frmSupplierPrint" action="">
                  <input type="hidden" name="PrintColumns" id="PrintColumns" value="Company Name,BPcode,Address,Opening Balance,Balance" />
            </form>
    </div>
    <div class="row col-md-12">
        <div class="col-md-3">
            <button id="btnSupplierReportGen" type="button" class="form-control btn btn-primary">Print</button>
        </div>
        <div class="col-md-3">
            <button id="btnSupplierReportGenExcel" type="button" class="form-control btn btn-success">@WebResource.ExportToExcel</button>
        </div>
    </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        $("#RecordType").change(function(){
            $("#txtBalance").val('');

            let t = $(this).val();
            if(t=="all"){
                $("#txtBalance").attr('readonly','readonly');
            }
            else{
                $("#txtBalance").removeAttr('readonly');
                $("#txtBalance").focus();
            }

        });

        $(".chPrint").click(function () {
            let str = "";
            $(".chPrint").each(function () {
                if ($(this).is(':checked')) {
                    if (str == "") {
                        str = $(this).val();
                    }
                    else {
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintColumns").val(str);

        });

        function ReportPopup(Doc) {
            let FileName = "/Reports/" + Doc;
            printJS(FileName);
        }

        $("#btnSupplierReportGen").click(function () {
            let cols = $("#PrintColumns").val();
            let Rtype = $("#RecordType").val();
            let balance = $("#txtBalance").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Purchase/CreateSupplierReport",
                type: "POST",
                dataType: "json",
                data: { type: Rtype, amount: balance, colnames: cols, pagetype: type, reportType: "pdf" },
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    ReportPopup(result);
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });

        $("#btnSupplierReportGenExcel").click(function () {
            let cols = $("#PrintColumns").val();
            let Rtype = $("#RecordType").val();
            let balance = $("#txtBalance").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Purchase/CreateSupplierReport",
                type: "POST",
                dataType: "json",
                data: { type: Rtype, amount: balance, colnames: cols, pagetype: type, reportType: "excel" },
                success: function (r) {
                    //var response = JSON.parse(data);
                    //console.log(response);
                    //window.location = '/Purchase/DownloadExcel?fileGuid=' + response.FileGuid
                    //    + '&filename=' + response.FileName;

                    var bytes = Base64ToBytes(r);
                    var blob = new Blob([bytes], { type: "application/octetstream" });

                    var isIE = false || !!document.documentMode;
                    if (isIE) {
                        window.navigator.msSaveBlob(blob, "SupplierList.xlsx");
                    } else {
                        var url = window.URL || window.webkitURL;
                        link = url.createObjectURL(blob);
                        var a = $("<a />");
                        a.attr("download", "SupplierList.xlsx");
                        a.attr("href", link);
                        $("body").append(a);
                        a[0].click();
                        $("body").remove(a);
                    }
                },
                error: function (data) {
                    console.log(data);
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });

        function Base64ToBytes(base64) {
            var binary_string = window.atob(base64);
            var len = binary_string.length;
            var bytes = new Uint8Array(len);
            for (var i = 0; i < len; i++) {
                bytes[i] = binary_string.charCodeAt(i);
            }
            return bytes.buffer;
        }
</script>
}
}



@if (ReportType == "invoice"){
<div class="row" style="padding-left:15px;">
    <div class="row card card-success col-md-12">
    <div class="card-header"><h3 class="card-title">@WebResource.Invoice @WebResource.Report</h3></div>
   <div class="row" style="padding-left:15px;">
    <div class="col-md-12" id="printReport">
            <div class="row col-md12" style="margin-top:20px;">
                    <div class="col-sm-3">
                        <label for="SupplierId">Supplier</label>
                        <select name="SupplierId" id="SupplierId" class="form-control" asp-items="@ViewBag.Suppliers">
                            <option value="0">All Suppliers</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="Balance">From Date</label>
                        <input type="text" id="txtDate1" name="txtDate1" class="form-control datefield" />
                    </div>
                    <div class="col-md-2">
                        <label for="Balance">To Date</label>
                        <input type="text" id="txtDate2" name="txtDate2" class="form-control datefield" />
                    </div>
                        <div class="col-md-2">
                            <label for="Status">Status</label>
                            <select name="Status" id="Status" class="form-control">
                                <option value="all">All</option>
                                <option value="yes">Active</option>
                                <option value="no">Pending</option>
                            </select>
                        </div>
                     <div class="col-md-3">
                        <label for="Orientation">Orientation</label>
                        <select name="pageType" id="pageType" class="form-control">
                            <option value="Portrait">Portrait</option>
                            <option value="Landscape">Landscape</option>
                        </select>
                    </div>
        </div>
        <div class="row col-md-12">
                    <div class="form-floating col-md-12">
                    <h4>Report Columns</h4>
                    </div>
                    <div class="row col-md-12">
                    <div class="col-md-2">
                        <input type="checkbox" name="CompanyName" id="CompanyName" value="Company Name" class="chPrint" checked disabled />
                        <label for="CompanyName" style="font-weight:400;">CompanyName</label>
                    </div>
                    <div class="col-md-2">
                                <input type="checkbox" name="InvoiceNo" id="InvoiceNo" value="Invoice No" class="chPrint" checked />
                                <label for="InvoiceNo" style="font-weight:400;">Invoice No</label>
                    </div>
                    <div class="col-md-1">
                                <input type="checkbox" name="Date" id="Date" value="Date" class="chPrint" checked />
                                <label for="Date" style="font-weight:400;">Date</label>
                    </div>
                    
                    <div class="col-md-2">
                                <input type="checkbox" name="OtherCharges" id="OtherCharges" value="Other Charges" class="chPrint" checked />
                                <label for="OtherCharges" style="font-weight:400;">Fax</label>
                    </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Discount" id="Discount" value="Discount" class="chPrint" checked />
                                <label for="Discount" style="font-weight:400;">Discount</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" name="Vat" id="Vat" value="Vat" class="chPrint" checked />
                                <label for="Vat" style="font-weight:400;">Vat</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Total" id="Total" value="Total" class="chPrint" checked />
                                <label for="Total" style="font-weight:400;">Total</label>
                            </div>
        </div>
       
    </div>
        <form id="frmPrint" action="">
                        <input type="hidden" name="PrintColumns" id="PrintColumns" value="Company Name,Invoice No,Date,Other Charges,Discount,Vat,Total" />
        </form>
</div>
<div class="row col-md-12">
<button id="btnSupplierReportGen" type="button" class="btn btn-primary col-md-2">Print</button>
</div>
</div>
</div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });

        $("#SupplierId").select2();

        $("#RecordType").change(function(){
            $("#txtBalance").val('');

            let t = $(this).val();
            if(t=="all"){
                $("#txtBalance").attr('readonly','readonly');
            }
            else{
                $("#txtBalance").removeAttr('readonly');
                $("#txtBalance").focus();
            }

        });

        $(".chPrint").click(function () {
            let str = "";
            $(".chPrint").each(function () {
                if ($(this).is(':checked')) {
                    if (str == "") {
                        str = $(this).val();
                    }
                    else {
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintColumns").val(str);

        });

        function ReportPopup(Doc) {
            let FileName = "/Reports/" + Doc;
            printJS(FileName);
        }

        $("#btnSupplierReportGen").click(function () {
            let cols = $("#PrintColumns").val();
            let supplierId = $("#SupplierId").val();
            let date1 = $("#txtDate1").val();
            let date2 = $("#txtDate2").val();
            let status = $("#Status").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Purchase/CreateInvoiceReport",
                type: "POST",
                dataType: "json",
                data: { supplierId: supplierId, fromDt: date1, toDt:date2, status:status, colnames: cols, pagetype: type },
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    ReportPopup(result);
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });
</script>
}
}

@if (ReportType == "receive"){
<div class="row" style="padding-left:15px;">
    <div class="row card card-success col-md-12">
        <div class="card-header"><h3 class="card-title">@WebResource.Purchase @WebResource.Receive  @WebResource.Report</h3></div>
        <div class="row" style="padding-left:15px;">
            <div class="col-md-12" id="printReport">
                <div class="row col-md12" style="margin-top:20px;">
                    <div class="col-sm-3">
                        <label for="SupplierId">Supplier</label>
                        <select name="SupplierId" id="SupplierId" class="form-control" asp-items="@ViewBag.Suppliers">
                            <option value="0">All Suppliers</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="Balance">From Date</label>
                        <input type="text" id="txtDate1" name="txtDate1" class="form-control datefield" />
                    </div>
                    <div class="col-md-2">
                        <label for="Balance">To Date</label>
                        <input type="text" id="txtDate2" name="txtDate2" class="form-control datefield" />
                    </div>
                    <div class="col-md-2">
                        <label for="Status">Status</label>
                        <select name="Status" id="Status" class="form-control">
                            <option value="all">All</option>
                            <option value="yes">Active</option>
                            <option value="no">Pending</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="Orientation">Orientation</label>
                        <select name="pageType" id="pageType" class="form-control">
                            <option value="Portrait">Portrait</option>
                            <option value="Landscape">Landscape</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-floating col-md-12">
                        <h4>Report Columns</h4>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-2">
                            <input type="checkbox" name="CompanyName" id="CompanyName" value="Company Name" class="chPrint" checked disabled />
                            <label for="CompanyName" style="font-weight:400;">CompanyName</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" name="InvoiceNo" id="InvoiceNo" value="Invoice No" class="chPrint" checked />
                            <label for="InvoiceNo" style="font-weight:400;">Invoice No</label>
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" name="Date" id="Date" value="Date" class="chPrint" checked />
                            <label for="Date" style="font-weight:400;">Date</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" name="OtherCharges" id="OtherCharges" value="Other Charges" class="chPrint" checked />
                            <label for="OtherCharges" style="font-weight:400;">Fax</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" name="Discount" id="Discount" value="Discount" class="chPrint" checked />
                            <label for="Discount" style="font-weight:400;">Discount</label>
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" name="Vat" id="Vat" value="Vat" class="chPrint" checked />
                            <label for="Vat" style="font-weight:400;">Vat</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" name="Total" id="Total" value="Total" class="chPrint" checked />
                            <label for="Total" style="font-weight:400;">Total</label>
                        </div>
                    </div>

                </div>
                <form id="frmPrint" action="">
                    <input type="hidden" name="PrintColumns" id="PrintColumns" value="Company Name,Invoice No,Date,Other Charges,Discount,Vat,Total" />
                </form>
            </div>
            <div class="row col-md-12">
                <button id="btnSupplierReportGen" type="button" class="btn btn-primary col-md-2">Print</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });

        $("#SupplierId").select2();

        $("#RecordType").change(function () {
            $("#txtBalance").val('');

            let t = $(this).val();
            if (t == "all") {
                $("#txtBalance").attr('readonly', 'readonly');
            }
            else {
                $("#txtBalance").removeAttr('readonly');
                $("#txtBalance").focus();
            }

        });

        $(".chPrint").click(function () {
            let str = "";
            $(".chPrint").each(function () {
                if ($(this).is(':checked')) {
                    if (str == "") {
                        str = $(this).val();
                    }
                    else {
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintColumns").val(str);

        });

        function ReportPopup(Doc) {
            let FileName = "/Reports/" + Doc;
            printJS(FileName);
        }

        $("#btnSupplierReportGen").click(function () {
            let cols = $("#PrintColumns").val();
            let supplierId = $("#SupplierId").val();
            let date1 = $("#txtDate1").val();
            let date2 = $("#txtDate2").val();
            let status = $("#Status").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Purchase/CreateReceiveReport",
                type: "POST",
                dataType: "json",
                data: { supplierId: supplierId, fromDt: date1, toDt: date2, status: status, colnames: cols, pagetype: type },
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    ReportPopup(result);
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });
    </script>
}
}


@if (ReportType == "rfi")
{
    <div class="row" style="padding-left:15px;">
        <div class="row card card-success col-md-12">
            <div class="card-header"><h3 class="card-title">@WebResource.RequestForInformation  @WebResource.Report</h3></div>
            <div class="row" style="padding-left:15px;">
                <div class="col-md-12" id="printReport">
                    <div class="row col-md12" style="margin-top:20px;">
                        <div class="col-md-2">
                        <label for="Balance">From Date</label>
                        <input type="text" id="txtDate1" name="txtDate1" class="form-control datefield" />
                    </div>
                    <div class="col-md-2">
                        <label for="Balance">To Date</label>
                        <input type="text" id="txtDate2" name="txtDate2" class="form-control datefield" />
                    </div>
                        <div class="col-md-2">
                            <label for="Status">Approved</label>
                            <select name="Status" id="Status" class="form-control">
                                <option value="all">All</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="Orientation">Orientation</label>
                            <select name="pageType" id="pageType" class="form-control">
                                <option value="Portrait">Portrait</option>
                                <option value="Landscape">Landscape</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-floating col-md-12">
                            <h4>Report Columns</h4>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2">
                                <input type="checkbox" name="Requester" id="Requester" value="Requester" class="chPrint" checked disabled />
                                <label for="Requester" style="font-weight:400;">Requester</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Date" id="Date" value="Date" class="chPrint" checked />
                                <label for="Date" style="font-weight:400;">Date</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" name="Department" id="Department" value="Department" class="chPrint" checked />
                                <label for="Department" style="font-weight:400;">Department</label>
                            </div>

                            <div class="col-md-2">
                                <input type="checkbox" name="Note" id="Note" value="Note" class="chPrint" checked />
                                <label for="Note" style="font-weight:400;">Note</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Approved" id="Approved" value="Approved" class="chPrint" checked />
                                <label for="Approved" style="font-weight:400;">Approved</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" name="ApprovedDate" id="ApprovedDate" value="Approved Date" class="chPrint" checked />
                                <label for="ApprovedDate" style="font-weight:400;">Approved Date</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="ApprovedBy" id="ApprovedBy" value="Approved By" class="chPrint" checked />
                                <label for="ApprovedBy" style="font-weight:400;">Approved By</label>
                            </div>
                        </div>

                    </div>
                    <form id="frmPrint" action="">
                        <input type="hidden" name="PrintColumns" id="PrintColumns" value="Requester,Date,Department,Note,Approved,Approved Date,Approved By" />
                    </form>
                </div>
                <div class="row col-md-12">
                    <button id="btnReportGen" type="button" class="btn btn-primary col-md-2">Print</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row card p-xl-5">
        <div class="col-sm-12">
            <hr />

            <table id="tblDataTable" class="table table-striped table-bordered dataTable table-hover">
                <thead>
                    <tr>
                        <th>
                            @WebResource.ID
                        </th>
                        <th>
                            @WebResource.Date
                        </th>
                        <th>
                            @WebResource.Requester
                        </th>
                        <th>
                            @WebResource.Department
                        </th>
                        <th>
                            @WebResource.Note
                        </th>
                        <th>
                            @WebResource.Approved
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            bindDataTable(0);
        });

        var allowed = "@allowed";

        function bindDataTable(start) {
            if ($.fn.DataTable.isDataTable("#tblDataTable")) {
                $('#tblDataTable').DataTable().destroy();
            }

            var table = $('#tblDataTable').DataTable(
                {
                    serverSide: true,
                    responsive: true,
                    displayStart: start,
                    iDisplayLength: 20,
                    order: [[1, 'desc']],
                    lengthMenu: [10, 20, 30, 50, 100],
                    sAjaxSource: "/Purchase/RequestForInfoList/",
                    "columns": [
                        {
                            data: "Id",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "ReqDate",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Requester",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Department",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Note",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Approved",
                            searchable: true,
                            class: "dtr-control txt-right"
                        },
                        {
                            data: "Id",
                            searchable: false,
                            orderable: false,
                            class: "dtr-control",
                            render: function (data, type, row) {
                                var content = '<div style="display:flex">'
                                content += '<a href="JavaScript:" data-toggle="tooltip" data-original-title="Details" data-flag="edit" title="@WebResource.Details" data-Id="' + data + '" class="btn btn-primary btn-sm action viewInfo"> <i class="fa fa-info"></i></a>&nbsp;';                              
                                content += '&nbsp;</div>';
                                return content;
                            }
                        }
                    ],
                });

        };


        function CurrentPageStart() {
            var table = $('#tblDataTable').DataTable();
            var info = table.page.info();
            return info.start;
        }

        $(document).on('click', '.viewInfo', function () {
            var ItemId = $(this).attr('data-Id');
            window.open('/Purchase/RequestForInfoDetails/' + ItemId, "_self");

        });

    </script>

@*
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });


        $(".chPrint").click(function () {
            let str = "";
            $(".chPrint").each(function () {
                if ($(this).is(':checked')) {
                    if (str == "") {
                        str = $(this).val();
                    }
                    else {
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintColumns").val(str);

        });

        function ReportPopup(Doc) {
            let FileName = "/Reports/" + Doc;
            printJS(FileName);
        }

        $("#btnReportGen").click(function () {
            let cols = $("#PrintColumns").val();
            let supplierId = $("#SupplierId").val();
            let date1 = $("#txtDate1").val();
            let date2 = $("#txtDate2").val();
            let status = $("#Status").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Purchase/CreateRFIReport",
                type: "POST",
                dataType: "json",
                data: { fromDt: date1, toDt: date2, status: status, colnames: cols, pagetype: type },
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    ReportPopup(result);
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });
    </script>*@
}
}


@if (ReportType == "rfq")
{
    <div class="row" style="padding-left:15px;">
        <div class="row card card-success col-md-12">
            <div class="card-header"><h3 class="card-title">@WebResource.RequestForQuotation_RFQ  @WebResource.Report</h3></div>
            <div class="row" style="padding-left:15px;">
                <div class="col-md-12" id="printReport">
                    <div class="row col-md12" style="margin-top:20px;">
                        <div class="col-md-2">
                        <label for="Balance">From Date</label>
                        <input type="text" id="txtDate1" name="txtDate1" class="form-control datefield" />
                    </div>
                    <div class="col-md-2">
                        <label for="Balance">To Date</label>
                        <input type="text" id="txtDate2" name="txtDate2" class="form-control datefield" />
                    </div>
                        <div class="col-md-2">
                            <label for="Status">Approved</label>
                            <select name="Status" id="Status" class="form-control">
                                <option value="all">All</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="Orientation">Orientation</label>
                            <select name="pageType" id="pageType" class="form-control">
                                <option value="Portrait">Portrait</option>
                                <option value="Landscape">Landscape</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-floating col-md-12">
                            <h4>Report Columns</h4>
                        </div>
                        <div class="row col-md-12">
                             <div class="col-md-2">
                                <input type="checkbox" name="RFIID" id="RFIID" value="RFI ID" class="chPrint" checked />
                                <label for="RFIID" style="font-weight:400;">RFI ID</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Date" id="Date" value="Date" class="chPrint" checked />
                                <label for="Date" style="font-weight:400;">Date</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Requester" id="Requester" value="Requester" class="chPrint" checked disabled />
                                <label for="Requester" style="font-weight:400;">Requester</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" name="Department" id="Department" value="Department" class="chPrint" checked />
                                <label for="Department" style="font-weight:400;">Department</label>
                            </div>

                            <div class="col-md-2">
                                <input type="checkbox" name="Note" id="Note" value="Note" class="chPrint" checked />
                                <label for="Note" style="font-weight:400;">Note</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Approved" id="Approved" value="Approved" class="chPrint" checked />
                                <label for="Approved" style="font-weight:400;">Approved</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" name="ApprovedDate" id="ApprovedDate" value="Approved Date" class="chPrint" checked />
                                <label for="ApprovedDate" style="font-weight:400;">Approved Date</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="ApprovedBy" id="ApprovedBy" value="Approved By" class="chPrint" checked />
                                <label for="ApprovedBy" style="font-weight:400;">Approved By</label>
                            </div>
                        </div>

                    </div>
                    <form id="frmPrint" action="">
                        <input type="hidden" name="PrintColumns" id="PrintColumns" value="RFI ID,Date,Requester,Department,Note,Approved,Approved Date,Approved By" />
                    </form>
                </div>
                <div class="row col-md-12">
                    <button id="btnReportGen" type="button" class="btn btn-primary col-md-2">Print</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });


        $(".chPrint").click(function () {
            let str = "";
            $(".chPrint").each(function () {
                if ($(this).is(':checked')) {
                    if (str == "") {
                        str = $(this).val();
                    }
                    else {
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintColumns").val(str);

        });

        function ReportPopup(Doc) {
            let FileName = "/Reports/" + Doc;
            printJS(FileName);
        }

        $("#btnReportGen").click(function () {
            let cols = $("#PrintColumns").val();
            let supplierId = $("#SupplierId").val();
            let date1 = $("#txtDate1").val();
            let date2 = $("#txtDate2").val();
            let status = $("#Status").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Purchase/CreateRFQReport",
                type: "POST",
                dataType: "json",
                data: { fromDt: date1, toDt: date2, status: status, colnames: cols, pagetype: type },
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    ReportPopup(result);
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });
    </script>
}
}


@if (ReportType == "rfp")
{
    <div class="row" style="padding-left:15px;">
        <div class="row card card-success col-md-12">
            <div class="card-header"><h3 class="card-title">@WebResource.RequestForPurchase  @WebResource.Report</h3></div>
            <div class="row" style="padding-left:15px;">
                <div class="col-md-12" id="printReport">
                    <div class="row col-md12" style="margin-top:20px;">
                        <div class="col-md-2">
                        <label for="Balance">From Date</label>
                        <input type="text" id="txtDate1" name="txtDate1" class="form-control datefield" />
                    </div>
                    <div class="col-md-2">
                        <label for="Balance">To Date</label>
                        <input type="text" id="txtDate2" name="txtDate2" class="form-control datefield" />
                    </div>
                        <div class="col-md-2">
                            <label for="Status">Approved</label>
                            <select name="Status" id="Status" class="form-control">
                                <option value="all">All</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="Orientation">Orientation</label>
                            <select name="pageType" id="pageType" class="form-control">
                                <option value="Portrait">Portrait</option>
                                <option value="Landscape">Landscape</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-floating col-md-12">
                            <h4>Report Columns</h4>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2">
                                <input type="checkbox" name="RFQID" id="RFQID" value="RFQ ID" class="chPrint" checked />
                                <label for="RFQID" style="font-weight:400;">RFQ ID</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Date" id="Date" value="Date" class="chPrint" checked />
                                <label for="Date" style="font-weight:400;">Date</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Requester" id="Requester" value="Requester" class="chPrint" checked disabled />
                                <label for="Requester" style="font-weight:400;">Requester</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" name="Department" id="Department" value="Department" class="chPrint" checked />
                                <label for="Department" style="font-weight:400;">Department</label>
                            </div>

                            <div class="col-md-2">
                                <input type="checkbox" name="Note" id="Note" value="Note" class="chPrint" checked />
                                <label for="Note" style="font-weight:400;">Note</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Approved" id="Approved" value="Approved" class="chPrint" checked />
                                <label for="Approved" style="font-weight:400;">Approved</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" name="ApprovedDate" id="ApprovedDate" value="Approved Date" class="chPrint" checked />
                                <label for="ApprovedDate" style="font-weight:400;">Approved Date</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="ApprovedBy" id="ApprovedBy" value="Approved By" class="chPrint" checked />
                                <label for="ApprovedBy" style="font-weight:400;">Approved By</label>
                            </div>
                        </div>

                    </div>
                    <form id="frmPrint" action="">
                        <input type="hidden" name="PrintColumns" id="PrintColumns" value="RFQ ID,Date,Requester,Department,Note,Approved,Approved Date,Approved By" />
                    </form>
                </div>
                <div class="row col-md-12">
                    <button id="btnReportGen" type="button" class="btn btn-primary col-md-2">Print</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });


        $(".chPrint").click(function () {
            let str = "";
            $(".chPrint").each(function () {
                if ($(this).is(':checked')) {
                    if (str == "") {
                        str = $(this).val();
                    }
                    else {
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintColumns").val(str);

        });

        function ReportPopup(Doc) {
            let FileName = "/Reports/" + Doc;
            printJS(FileName);
        }

        $("#btnReportGen").click(function () {
            let cols = $("#PrintColumns").val();
            let supplierId = $("#SupplierId").val();
            let date1 = $("#txtDate1").val();
            let date2 = $("#txtDate2").val();
            let status = $("#Status").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Purchase/CreateRFPReport",
                type: "POST",
                dataType: "json",
                data: { fromDt: date1, toDt: date2, status: status, colnames: cols, pagetype: type },
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    ReportPopup(result);
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });
    </script>
}
}


@if (ReportType == "po")
{
    <div class="row" style="padding-left:15px;">
        <div class="row card card-success col-md-12">
            <div class="card-header"><h3 class="card-title">@WebResource.PurchaseOrder  @WebResource.Report</h3></div>
            <div class="row" style="padding-left:15px;">
                <div class="col-md-12" id="printReport">
                    <div class="row col-md12" style="margin-top:20px;">
                        <div class="col-md-2">
                        <label for="Balance">From Date</label>
                        <input type="text" id="txtDate1" name="txtDate1" class="form-control datefield" />
                    </div>
                    <div class="col-md-2">
                        <label for="Balance">To Date</label>
                        <input type="text" id="txtDate2" name="txtDate2" class="form-control datefield" />
                    </div>
                        <div class="col-md-2">
                            <label for="Status">Approved</label>
                            <select name="Status" id="Status" class="form-control">
                                <option value="all">All</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="Orientation">Orientation</label>
                            <select name="pageType" id="pageType" class="form-control">
                                <option value="Portrait">Portrait</option>
                                <option value="Landscape">Landscape</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-floating col-md-12">
                            <h4>Report Columns</h4>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2">
                                <input type="checkbox" name="PRID" id="PRID" value="PR ID" class="chPrint" checked />
                                <label for="PRID" style="font-weight:400;">PR ID</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Date" id="Date" value="Date" class="chPrint" checked />
                                <label for="Date" style="font-weight:400;">Date</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="ShippingAddress" id="ShippingAddress" value="Shipping Address" class="chPrint" />
                                <label for="ShippingAddress" style="font-weight:400;">Shipping Address</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="ShippingMethod" id="ShippingMethod" value="Shipping Method" class="chPrint" />
                                <label for="ShippingMethod" style="font-weight:400;">Shipping Method</label>
                            </div>

                            <div class="col-md-2">
                                <input type="checkbox" name="ShippingAmount" id="ShippingAmount" value="Shipping Amount" class="chPrint" />
                                <label for="ShippingAmount" style="font-weight:400;">Shipping Amount</label>
                            </div>
                             <div class="col-md-2">
                                <input type="checkbox" name="DeliveryDate" id="DeliveryDate" value="Delivery Date" class="chPrint" checked />
                                <label for="DeliveryDate" style="font-weight:400;">Delivery Date</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Remarks" id="Remarks" value="Remarks" class="chPrint" checked />
                                <label for="Remarks" style="font-weight:400;">Remarks</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Approved" id="Approved" value="Approved" class="chPrint" checked />
                                <label for="Approved" style="font-weight:400;">Approved</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" name="ApprovedDate" id="ApprovedDate" value="Approved Date" class="chPrint" checked />
                                <label for="ApprovedDate" style="font-weight:400;">Approved Date</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="ApprovedBy" id="ApprovedBy" value="Approved By" class="chPrint" checked />
                                <label for="ApprovedBy" style="font-weight:400;">Approved By</label>
                            </div>
                        </div>

                    </div>
                    <form id="frmPrint" action="">
                        <input type="hidden" name="PrintColumns" id="PrintColumns" value="PR ID,Date,Remarks,Approved,Approved Date,Approved By" />
                    </form>
                </div>
                <div class="row col-md-12">
                    <button id="btnReportGen" type="button" class="btn btn-primary col-md-2">Print</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });


        $(".chPrint").click(function () {
            let str = "";
            $(".chPrint").each(function () {
                if ($(this).is(':checked')) {
                    if (str == "") {
                        str = $(this).val();
                    }
                    else {
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintColumns").val(str);

        });

        function ReportPopup(Doc) {
            let FileName = "/Reports/" + Doc;
            printJS(FileName);
        }

        $("#btnReportGen").click(function () {
            let cols = $("#PrintColumns").val();
            let supplierId = $("#SupplierId").val();
            let date1 = $("#txtDate1").val();
            let date2 = $("#txtDate2").val();
            let status = $("#Status").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Purchase/CreatePOPReport",
                type: "POST",
                dataType: "json",
                data: { fromDt: date1, toDt: date2, status: status, colnames: cols, pagetype: type },
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    ReportPopup(result);
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });
    </script>
}
}


@if (ReportType == "shipment")
{
    <div class="row" style="padding-left:15px;">
        <div class="row card card-success col-md-12">
            <div class="card-header"><h3 class="card-title">@WebResource.Shipment @WebResource.Report</h3></div>
            <div class="row" style="padding-left:15px;">
                <div class="col-md-12" id="printReport">
                    <div class="row col-md12" style="margin-top:20px;">
                         <div class="col-md-2">
                            <label for="Type">Type</label>
                            <select name="ShipmentType" id="ShipmentType" class="form-control">
                                <option value="all">All</option>
                                <option value="create">Create</option>
                                <option value="in">Shipment In</option>
                            </select>
                        </div>
                         <div class="col-sm-3">
                            <label for="SupplierId">Supplier</label>
                            <select name="SupplierId" id="SupplierId" class="form-control" asp-items="@ViewBag.Suppliers">
                                <option value="0">All Suppliers</option>
                            </select>
                        </div>
                         <div class="col-sm-3">
                            <label for="StoreId">Store</label>
                            <select name="StoreId" id="StoreId" class="form-control" asp-items="@ViewBag.Stores">
                                <option value="0">All Suppliers</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Balance">From Date</label>
                            <input type="text" id="txtDate1" name="txtDate1" class="form-control datefield" />
                        </div>
                        <div class="col-md-2">
                            <label for="Balance">To Date</label>
                            <input type="text" id="txtDate2" name="txtDate2" class="form-control datefield" />
                        </div>
                        <div class="col-md-2">
                            <label for="Status">Approved</label>
                            <select name="Status" id="Status" class="form-control">
                                <option value="all">All</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="Orientation">Orientation</label>
                            <select name="pageType" id="pageType" class="form-control">
                                <option value="Portrait">Portrait</option>
                                <option value="Landscape">Landscape</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-floating col-md-12">
                            <h4>Report Columns</h4>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2">
                                <input type="checkbox" name="ID" id="ID" value="ID" class="chPrint" checked />
                                <label for="ID" style="font-weight:400;">ID</label>
                            </div>
                             <div class="col-md-2">
                                <input type="checkbox" name="ReferenceNo" id="ReferenceNo" value="Reference No" class="chPrint" checked />
                                <label for="ReferenceNo" style="font-weight:400;">Reference No</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Date" id="Date" value="Date" class="chPrint" checked />
                                <label for="Date" style="font-weight:400;">Date</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="ChargesDescription" id="ChargesDescription" value="ChargesDescription" class="chPrint" />
                                <label for="ChargesDescription" style="font-weight:400;">Charges Description</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Received" id="Received" value="Received" class="chPrint" />
                                <label for="Received" style="font-weight:400;">Received</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Approved" id="Approved" value="Approved" class="chPrint" />
                                <label for="Approved" style="font-weight:400;">Approved</label>
                            </div> 
                            <div class="col-md-2">
                                <input type="checkbox" name="Discount" id="Discount" value="Discount" class="chPrint" checked disabled />
                                <label for="Discount" style="font-weight:400;">Discount</label>
                            </div>

                            <div class="col-md-2">
                                <input type="checkbox" name="OtherCharges" id="OtherCharges" value="Other Charges" class="chPrint" checked disabled />
                                <label for="OtherCharges" style="font-weight:400;">Other Charges</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Total" id="Total" value="Total" class="chPrint" checked disabled />
                                <label for="Total" style="font-weight:400;">Total</label>
                            </div>
                                                      
                        </div>

                    </div>
                    <form id="frmPrint" action="">
                        <input type="hidden" name="PrintColumns" id="PrintColumns" value="ID,Reference No,Date,Discount,Other Charges,Total" />
                    </form>
                </div>
                <div class="row col-md-12">
                    <button id="btnReportGen" type="button" class="btn btn-primary col-md-2">Print</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row card p-xl-5">
    <div class="col-sm-12">
        <hr />

        <table id="tblDataTable" class="table table-striped table-bordered dataTable table-hover">
            <thead>
                <tr>
                    <th>
                        @WebResource.ID
                    </th>
                    <th>
                        @WebResource.CompanyName
                    </th>
                    <th>
                        @WebResource.Store
                    </th>
                    <th>
                        @WebResource.No
                    </th>
                    <th>
                        @WebResource.Date
                    </th>
                    <th style="text-align:right;">
                        @WebResource.Discount
                    </th>
                    <th style="text-align:right;">
                        @WebResource.Other @WebResource.Charges
                    </th>
                    <th style="text-align:right;">
                        @WebResource.Total
                    </th>
                    <th>
                        @WebResource.VatNo
                    </th>
                    <th style="text-align:right;">
                        @WebResource.Type
                    </th>
                    <th style="text-align:right;">
                        @WebResource.Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>

    <div class="modal fade" id="printModal" role="dialog">
        <div class="modal-dialog" style="width:100%;">
            <div class="modal-content" style="margin-top:45%; width:700px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="float:right;position:absolute; right:5px;">&times;</button>
                    <h4 class="modal-title">Print</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="RecordId" name="RecordId" value="0" />
                    <div class="row col-md-12">
                        <div class="form-floating col-md-6" style="text-align:right;">
                            <label for="Orientation" style="font-weight:400;">Orientation</label>
                        </div>
                        <div class="form-floating col-md-6">
                            <select name="pageType" id="pageType" class="form-control">
                                <option value="Portrait">Portrait</option>
                                <option value="Landscape">Landscape</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-floating col-md-12">
                            <h4>Report Columns</h4>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <input type="checkbox" name="Barcode" id="Barcode" value="Barcode" class="chPrint1" checked disabled />
                                <label for="Barcode" style="font-weight:400;">Barcode</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="DescriptionEn" id="DescriptionEn" value="Description English" class="chPrint1" checked />
                                <label for="DescriptionEn" style="font-weight:400;">Description English</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="DescriptionAb" id="DescriptionAb" value="Description Arabic" class="chPrint1" />
                                <label for="DescriptionAb" style="font-weight:400;">Description Arabic</label>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <input type="checkbox" name="Department" id="Department" value="Department" class="chPrint1" />
                                <label for="Department" style="font-weight:400;">Department</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="Seasson" id="Seasson" value="Seasson" class="chPrint1" />
                                <label for="Seasson" style="font-weight:400;">Seasson</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="Style" id="Style" value="Style" class="chPrint1" />
                                <label for="Style" style="font-weight:400;">Style/Sku</label>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <input type="checkbox" name="Size" id="Size" value="Size" class="chPrint1" />
                                <label for="Size" style="font-weight:400;">Size</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="Color" id="Color" value="Color" class="chPrint1" />
                                <label for="Color" style="font-weight:400;">Color</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="Year" id="Year" value="Year" class="chPrint1" />
                                <label for="Year" style="font-weight:400;">Year</label>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <input type="checkbox" name="BoxNo" id="BoxNo" value="BoxNo" class="chPrint1" checked />
                                <label for="BoxNo" style="font-weight:400;">Box No</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="QtyPerBox" id="QtyPerBox" value="QtyPerBox" class="chPrint1" checked />
                                <label for="QtyPerBox" style="font-weight:400;">Qty Per Box</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="Qty" id="Qty" value="Qty" class="chPrint1" checked />
                                <label for="Qty" style="font-weight:400;">Qty</label>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <input type="checkbox" name="Price" id="Price" value="Price" class="chPrint1" checked />
                                <label for="Price" style="font-weight:400;">Price</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="SalePrice" id="SalePrice" value="SalePrice" class="chPrint1" />
                                <label for="SalePrice" style="font-weight:400;">Sale Price</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="SaleVat" id="SaleVat" value="SaleVat" class="chPrint1" />
                                <label for="SaleVat" style="font-weight:400;">Sale Vat</label>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <input type="checkbox" name="OriginalPrice" id="OriginalPrice" value="OriginalPrice" class="chPrint1" />
                                <label for="OriginalPrice" style="font-weight:400;">Original Price</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="RowItemTotal" id="RowItemTotal" value="Item Total" class="chPrint1" checked />
                                <label for="RowItemTotal" style="font-weight:400;">Item Total</label>
                            </div>
                        </div>

                    </div>
                    <form id="frmItemPrint" action="">
                        <input type="hidden" name="PrintItemColumns" id="PrintItemColumns" value="Barcode,Description English,BoxNo,QtyPerBox,Qty,Price,Item Total" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnItemReportGen" type="button" class="btn btn-default" data-dismiss="modal">Print</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });


        $(".chPrint").click(function () {
            let str = "";
            $(".chPrint").each(function () {
                if ($(this).is(':checked')) {
                    if (str == "") {
                        str = $(this).val();
                    }
                    else {
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintColumns").val(str);

        });

        function ReportPopup(Doc) {
            let FileName = "/Reports/" + Doc;
            printJS(FileName);
        }

        $("#btnReportGen").click(function () {
            let cols = $("#PrintColumns").val();
            let type1 = $("#ShipmentType").val();
            let supplierId = $("#SupplierId").val();
            let storeId = $("#StoreId").val();
            let date1 = $("#txtDate1").val();
            let date2 = $("#txtDate2").val();
            let status = $("#Status").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Purchase/CreateShipmentReport",
                type: "POST",
                dataType: "json",
                data: { Type: type1, SupplierId: supplierId, StoreId: storeId, fromDt: date1, toDt: date2, status: status, colnames: cols, pagetype: type },
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    ReportPopup(result);
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });

        $(document).ready(function () {
            bindTableDataList(0);
        });

        function bindTableDataList(start) {
            if ($.fn.DataTable.isDataTable("#tblDataTable")) {
                $('#tblDataTable').DataTable().destroy();
            }

            var table = $('#tblDataTable').DataTable(
                {
                    serverSide: true,
                    responsive: true,
                    displayStart: start,
                    iDisplayLength: 20,
                    order: [[1, 'desc']],
                    lengthMenu: [10, 20, 30, 50, 100],
                    sAjaxSource: "/Shipping/ShippingInfoList/",
                    sServerMethod: "POST",
                    "columns": [
                        {
                            data: "Id",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "SupplierName",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "StoreName",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "ReferenceNo",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Date",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "StrDiscount",
                            searchable: true,
                            class: "dtr-control rightText"
                        },
                        {
                            data: "StrOtherCharges",
                            searchable: true,
                            class: "dtr-control rightText"
                        },
                        {
                            data: "StrTotal",
                            searchable: true,
                            class: "dtr-control rightText"
                        },
                        {
                            data: "StoreVatNo",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "RecordType",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Status",
                            searchable: true,
                            class: "dtr-control"
                        },
                        {
                            data: "Id",
                            searchable: false,
                            orderable: false,
                            class: "dtr-control",
                            render: function (data, type, row) {
                                var content = '<div style="display:flex">'
                                content += '<a href="JavaScript:" data-toggle="tooltip" data-original-title="Details" data-flag="Details" data-Id="' + data + '" class="btn btn-primary btn-sm action viewReport"> <i class="fa fa-file"></i></a>&nbsp;';
                                content += '&nbsp;</div>';

                                return content;
                            }
                        }
                    ],
                });

            // new $.fn.dataTable.FixedHeader(table);
        };


        function CurrentPageStart() {
            var table = $('#tblDataTable').DataTable();
            var info = table.page.info();
            return info.start;
        }

        $(document).on("click",".viewReport", function(){
             var ItemId = $(this).attr('data-Id');
            $("#RecordId").val(ItemId);
             $("#printModal").modal();
        });

        $(".chPrint1").click(function(){
            let str = "";
            $(".chPrint").each(function(){
                if($(this).is(':checked')){
                    if(str == ""){
                        str = $(this).val();
                    }
                    else{
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintItemColumns").val(str);
        
        });

        // $("#btnItemPrint").click(function(){
        //    $("#printModal").modal();
        //});

        $("#btnItemReportGen").click(function(){
            let cols = $("#PrintItemColumns").val();
            let Id = $("#RecordId").val();
            let type = $("#pageType").val();
                $.ajax({
                url: "/Shipping/ShippmentReportCreate/" + Id,
                    type: "POST",
                    dataType: "json",
                data: { id: Id, colnames: cols, pagetype: type },
                    success: function (data) {
                        var result = JSON.parse(JSON.stringify(data));
                        ReportPopup(result);
                    },
                    error: function (data) {
                        swal({
                            type: 'error',
                            title: "@Html.Raw(WebResource.Oops)",
                            text: "@Html.Raw(WebResource.SomethingWentWrong)",
                        });
                    }
                });
        });
    </script>
}
}






