@using WinProApp.Resources
@using Microsoft.AspNetCore.Localization;
@model WinProApp.ViewModels.Shipping.DetailsViewModel;
@{
    ViewData["Title"] = @WebResource.Shipment + " " + @WebResource.Details;
    string productImgPath = "/Docs/Products/" + Model.AttachedDoc;
    string barcodeImgPath = "/Images/ProductBarcodes/";
    string reportPath = "/Reports/";
}

<div class="row">
    <div class="col-md-12">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RecordType" />
            <div class="row card card-success">
                <div class="card-header"><h3 class="card-title">@WebResource.Supplier @WebResource.Details</h3></div>
                <div class="card-body col-md-12 row">
                    <div class="form-floating col-md-3">
                        <label asp-for="SupplierId">@WebResource.Supplier</label>
                        <select asp-for="SupplierId" class="form-control" asp-items="@ViewBag.Suppliers" disabled>
                        </select>
                        <span asp-validation-for="SupplierId" class="text-danger"></span>
                    </div>

                    <div class="form-floating col-md-2">
                        <label for="BpCode">@WebResource.Bpcode</label>
                        <input id="BpCode" name="BpCode" class="form-control" readonly />
                    </div>

                    <div class="form-floating col-md-3">
                        <label for="Address">@WebResource.Address</label>
                        <input type="text" id="Address" name="Address" class="form-control" readonly />
                    </div>
                    <div class="form-floating col-md-2">
                        <label for="VatNo">@WebResource.VatNo</label>
                        <input id="VatNo" name="VatNo" class="form-control" readonly />
                    </div>
                    <div class="form-floating col-md-2">
                        <label for="Balance">@WebResource.Balance</label>
                        <input id="Balance" name="Balance" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row card card-success">
                <div class="card-header"><h3 class="card-title">@WebResource.Store @WebResource.Details</h3></div>
                <div class="card-body col-md-12 row">
                    <div class="form-floating col-md-3">
                        <label asp-for="ToStoreId">@WebResource.Store</label>
                        <select asp-for="ToStoreId" class="form-control" asp-items="@ViewBag.Stores" disabled>
                        </select>
                        <span asp-validation-for="ToStoreId" class="text-danger"></span>
                    </div>

                    <div class="form-floating col-md-2">
                        <label for="StoreCode">@WebResource.Code</label>
                        <input id="StoreCode" name="StoreCode" class="form-control" readonly />
                    </div>

                    <div class="form-floating col-md-3">
                        <label for="Address">@WebResource.Address</label>
                        <input type="text" id="SAddress" name="SAddress" class="form-control" readonly />
                    </div>
                    <div class="form-floating col-md-2">
                        <label for="VatNo">@WebResource.VatNo</label>
                        <input id="SVatNo" name="SVatNo" class="form-control" readonly />
                    </div>
                </div>
            </div>

           
                <hr />

                <div class="row card card-success">
                    <div class="card-header"><h3 class="card-title">@WebResource.Shipment @WebResource.Details</h3></div>
                    <div class="card-body col-md-12 row">
                        <div class="form-floating col-md-3">
                            <label asp-for="ReferenceNo">@WebResource.Reference @WebResource.Number</label>
                            <input asp-for="ReferenceNo" class="form-control" aria-required="true" autocomplete="off" readonly />
                            <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                        </div>
                        <div class="form-floating col-md-3">
                            <label for="Date">@WebResource.Date</label>
                            <input type="text" name="Date" id="Date" class="form-control datefield" aria-required="true" autocomplete="off" readonly />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-floating col-md-3">
                            <label asp-for="AttachedDoc">@WebResource.AttachedDoc</label>
                            <input type="file" asp-for="AttachedDoc" class="form-control" />
                        </div>
                    </div>
                </div>

            
            <div class="row card card-success" style="margin-top:20px;">
                <div class="card-header"><h3 class="card-title">@WebResource.Invoice @WebResource.Items</h3></div>
                <div class="card-body col-md-12 row">
                <table id="tblItems" class="table table-striped table-bordered table-responsive" style="height:550px">
                        <thead>
                            <tr>
                                <th class="col-md-1">@WebResource.Barcode</th>
                                <th class="col-md-2">@WebResource.Description (@WebResource.English) </th>
                                <th class="col-md-2">@WebResource.Description (@WebResource.Arabic)</th>
                                <th class="col-md-2">@WebResource.Seasson</th>
                                <th class="col-md-2">@WebResource.Department</th>
                                <th class="col-md-2">@WebResource.Model_SKU</th>
                                <th class="col-md-2">@WebResource.Size</th>
                                <th class="col-md-2">@WebResource.Color</th>
                                <th class="col-md-2">@WebResource.Year</th>
                                <th class="col-md-2">@WebResource.Box @WebResource.No</th>
                                <th class="col-md-1">@WebResource.Qty @WebResource.Per @WebResource.Box </th>
                                <th class="col-md-1">@WebResource.Qty</th>
                                <th class="col-md-1">@WebResource.Received @WebResource.Qty</th>
                                <th class="col-md-1">@WebResource.Price</th>
                                @*<th class="col-md-1">@WebResource.VAT</th>*@
                                <th class="col-md-1">@WebResource.Total</th>
                                <th class="col-md-1">@WebResource.Image</th>
                            <th class="col-md-1">@WebResource.Selling @WebResource.Price</th>
                            <th class="col-md-1">@WebResource.Selling @WebResource.VAT</th>
                            <th class="col-md-1">@WebResource.Org_Price</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>


            <div class="row card card-success" style="margin-top:20px; padding-top:7px;">
                <div class="row col-md-12">
                    <div class="row col-md-6">
                        <div class="form-floating col-md-8" style="text-align:right;">
                             <label for="totPcs" style="margin-left:7px;">Total Qty</label>
                         </div>
                         <div class="form-floating col-md-4">
                             <input type="text" readonly name="totPcs" id="totPcs" class="form-control" value="" data-val="0" style="text-align:right;" />
                         </div>
                    </div>
                    <div class="row col-md-6">
                        <div class="form-floating col-md-8" style="text-align:right;">
                            <label for="Discount" style="margin-left:7px;">@WebResource.Discount</label>
                        </div>
                        <div class="form-floating col-md-4">
                            <input type="text" name="Discount" id="Discount" class="form-control" value="@Model.StrDiscount" data-val="0" style="text-align:right;" readonly />
                        </div>
                    </div>
                    
                </div>
                <div class="row col-md-12">
                    <div class="row col-md-6">
                        <div class="form-floating col-md-8" style="text-align:right;">
                            <label for="ChargesDescription" style="margin-left:7px;">@WebResource.ChargesDescription</label>
                        </div>
                        <div class="form-floating col-md-4">
                           <input type="text" name="ChargesDescription" id="ChargesDescription" class="form-control" value="@Model.ChargesDescription" data-val="0" readonly />
                        </div>
                    </div>
                    <div class="row col-md-6">
                        <div class="form-floating col-md-8" style="text-align:right;">
                            <label for="OtherCharges" style="margin-left:7px;">@WebResource.Charges</label>
                        </div>
                        <div class="form-floating col-md-4">
                            <input type="text" name="OtherCharges" id="OtherCharges" class="form-control" value="@Model.StrOtherCharges" data-val="0" style="text-align:right;" readonly />
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="row col-md-6"></div>
                <div class="row col-md-6">
                    <div class="form-floating col-md-8" style="text-align:right;">
                        <label for="Total" style="margin-left:7px;">@WebResource.Total</label>
                    </div>
                    <div class="form-floating col-md-4">
                        <input type="text" name="Total" id="Total" class="form-control" value="@Model.StrTotal" style="text-align:right;" readonly />
                    </div>
                </div>
                    
                </div>

            </div>

            <div class="row col-md-12">
                 <div class="form-floating col-md-2">
                    <label asp-for="Status">@WebResource.Status</label>
                <input asp-for="Status" type="text" class="form-control" readonly />
                </div>
             </div> 
    </div>
    <div style="width:100%; padding:5px; height:10px;">&nbsp;</div>
    <input type="button" id="btnPrint" class="w-100 btn btn-lg btn-primary col-md-3" value="Print" />
    <button id="btnExhportToExcel" onclick="exportTableToExcel()" type="button" class="w-100 btn btn-lg btn-success col-md-3">Export To Excel</button>

</div>

<div class="modal fade" id="printModal" role="dialog">
    <div class="modal-dialog" style="width:100%;">
        <div class="modal-content" style="margin-top:45%; width:700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="float:right;position:absolute; right:5px;">&times;</button>
                <h4 class="modal-title">Print</h4>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <div class="form-floating col-md-6" style="text-align:right;">
                        <label for="Orientation" style="font-weight:400;">Orientation</label>
                    </div>
                    <div class="form-floating col-md-6">
                        <select name="pageType" id="pageType" class="form-control">
                            <option value="Portrait">Portrait</option>
                            <option value="Landscape">Landscape</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-floating col-md-12">
                        <h4>Report Columns</h4>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <input type="checkbox" name="Barcode" id="Barcode" value="Barcode" class="chPrint" checked disabled />
                            <label for="Barcode" style="font-weight:400;">Barcode</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="DescriptionEn" id="DescriptionEn" value="Description English" class="chPrint" checked />
                            <label for="DescriptionEn" style="font-weight:400;">Description English</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="DescriptionAb" id="DescriptionAb" value="Description Arabic" class="chPrint" />
                            <label for="DescriptionAb" style="font-weight:400;">Description Arabic</label>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <input type="checkbox" name="Department" id="Department" value="Department" class="chPrint" />
                            <label for="Department" style="font-weight:400;">Department</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="Seasson" id="Seasson" value="Seasson" class="chPrint" />
                            <label for="Seasson" style="font-weight:400;">Seasson</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="Style" id="Style" value="Style" class="chPrint" />
                            <label for="Style" style="font-weight:400;">Style/Sku</label>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <input type="checkbox" name="Size" id="Size" value="Size" class="chPrint" />
                            <label for="Size" style="font-weight:400;">Size</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="Color" id="Color" value="Color" class="chPrint" />
                            <label for="Color" style="font-weight:400;">Color</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="Year" id="Year" value="Year" class="chPrint" />
                            <label for="Year" style="font-weight:400;">Year</label>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <input type="checkbox" name="BoxNo" id="BoxNo" value="BoxNo" class="chPrint" checked />
                            <label for="BoxNo" style="font-weight:400;">Box No</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="QtyPerBox" id="QtyPerBox" value="QtyPerBox" class="chPrint" checked />
                            <label for="QtyPerBox" style="font-weight:400;">Qty Per Box</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="Qty" id="Qty" value="Qty" class="chPrint" checked />
                            <label for="Qty" style="font-weight:400;">Qty</label>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <input type="checkbox" name="Price" id="Price" value="Price" class="chPrint" checked />
                            <label for="Price" style="font-weight:400;">Price</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="SalePrice" id="SalePrice" value="SalePrice" class="chPrint" />
                            <label for="SalePrice" style="font-weight:400;">Sale Price</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="SaleVat" id="SaleVat" value="SaleVat" class="chPrint" />
                            <label for="SaleVat" style="font-weight:400;">Sale Vat</label>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <input type="checkbox" name="OriginalPrice" id="OriginalPrice" value="OriginalPrice" class="chPrint" />
                            <label for="OriginalPrice" style="font-weight:400;">Original Price</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" name="RowItemTotal" id="RowItemTotal" value="Item Total" class="chPrint" checked />
                            <label for="RowItemTotal" style="font-weight:400;">Item Total</label>
                        </div>
                    </div>

                </div>
                <form id="frmPrint" action="">
                    <input type="hidden" name="PrintColumns" id="PrintColumns" value="Barcode,Description English,BoxNo,QtyPerBox,Qty,Price,Item Total" />
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnReportGen" type="button" class="btn btn-default" data-dismiss="modal">Print</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="imageModal" class="imgmodelpopup">

    <!-- The Close Button -->
    <span id="popupClose" class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="modelImg">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        function OnSuccess(data, status, xhr) {
            swal({
                type: 'success',
                title: "@Html.Raw(WebResource.UpdatedSuccessfully)",
                text: "@Html.Raw(WebResource.RecordUpdated)",
                closeOnClickOutside: false,
                closeOnEsc: false,
                button: {
                    className: "btn theme waves-effect waves-light"
                }
            }).then((value) => {
                window.location.replace("/Shipping/ShippingInfo");
            });
        }

        function OnFailure(xhr, status, error) {
            swal({
                type: 'error',
                title: "@Html.Raw(WebResource.Oops)",
                text: "@Html.Raw(WebResource.SomethingWentWrong)",
            }).then(x => {
                Ladda.stopAll();
            });
        }


        $("form").bind("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });

        function exportTableToExcel() {
            location.href = "/Shipping/ExportToExcel/" + "@Model.Id";
        }


        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });

       

        var vatx = "@ViewBag.VatPercentage";
        $('#SupplierId').select2();
        $('#ToStoreId').select2();
        


        $("#Date").val("@Model.Date");

        function GetSupplier(Id) {
            $("#BpCode").val('');
            $("#Address").val('');
            $("#VatNo").val('');
            $('#Balance').val('');
            if(parseInt(Id) > 0){
            $.ajax({
                url: "/Purchase/GetSupplierInfo/" + Id,
                type: "GET",
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    $("#BpCode").val(result.Bpcode);
                    $("#Address").val(result.Address);
                    $("#VatNo").val(result.VatNo);
                    $('#Balance').val(result.Balance);
                },
                error: function () {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
            }
            else{
                $("#BpCode").val('');
                $("#Address").val('');
                $("#VatNo").val('');
                $('#Balance').val('');
            }
        }

        function GetStoreData(Id) {
                $("#SAddress").val('');
                $("#SVatNo").val('');
                $('#StoreCode').val('');
            if (parseInt(Id) > 0) {
                $.ajax({
                    url: "/Shipping/GetStoreInfo/" + Id,
                    type: "GET",
                    success: function (data) {
                        var result = JSON.parse(JSON.stringify(data));
                        $("#StoreCode").val(result.StoreCode);
                        $("#SAddress").val(result.Address);
                        $("#SVatNo").val(result.VatNo);
                    },
                    error: function () {
                        swal({
                            type: 'error',
                            title: "@Html.Raw(WebResource.Oops)",
                            text: "@Html.Raw(WebResource.SomethingWentWrong)",
                        });
                    }
                });
            }
            else {
                $("#SAddress").val('');
                $("#SVatNo").val('');
                $('#StoreCode').val('');
            }
        }

        //$('#SupplierId').change(function(){
        //    let Id = $(this).val();
        //    GetSupplier(Id);
        //});

        
        //$('#ToStoreId').change(function(){
        //    let Id = $(this).val();
        //    GetStoreData(Id);
        //});


         GetSupplier("@Model.SupplierId");
        GetStoreData("@Model.ToStoreId");


        function CalculateRowTotal(Amount) {
            //  let vatamoutX = (parseFloat(vatx) + parseFloat(100));
            let amount = parseFloat(Amount);
            let flag = true;

            $("#txtOriginal").val(amount.toFixed(2));

            let tot = parseFloat(Amount) + parseFloat(vatVal);
            $("#txtPrice").val(tot.toFixed(2));
        }

        function ItemTotCalculate() {
            let qtyd = $("#txtQtyD").val();
            let qtyp = $("#txtQtyP").val();
            let cost = $("#txtCost").val();
            //  let sell = $("#txtSelling").val();
            //  let itemvat = $("#salesVat").val();

            //if(parseFloat(itemvat) > 0){
            //    itemvat = itemvat;
            //}
            //else{
            //    itemvat = 0;
            //}

            //  let vatamoutX =(parseFloat(vatx)/parseFloat(100));
            let tot = 0;
            let totVat = 0;

            if ($("#DozenToQty").is(':checked') || (parseFloat(qtyp) > 0 && parseFloat(qtyd) > 0)) {
                qtyp = (parseFloat(qtyp) + (parseFloat(qtyd) * 12))
            }
            else {
                if (parseFloat(qtyp) > 0) {
                    qtyp = qtyp;
                }
                if (parseFloat(qtyd) > 0) {
                    qtyp = qtyd;
                }
            }

            tot = (parseFloat(qtyp) * parseFloat(cost));

            //if (parseFloat(qtyp) > 0) {
            //    totVat = (parseFloat(tot) * parseFloat(vatamoutX));
            //}


            $("#txtTotal").val(tot);
            //   $("#txtTotalVat").val(totVat);
        }

     
        function CalculateTotal() {
            var total = 0;
            var vattotal = 0;
            var totQty = 0;

            $(".itemtotlx").each(function () {
                var val = $(this).text();
                if (parseFloat(val) > 0) {
                    total = parseFloat(total) + parseFloat(val);
                }
            });

            $(".ItemQtyX").each(function () {
                var qtyVal = $(this).text();
                if (parseFloat(qtyVal) > 0) {
                    totQty = parseFloat(totQty) + parseFloat(qtyVal);
                }
            });

            //$(".itemvattotalx").each(function () {
            //   var val1 = $(this).text();
            //    if (parseFloat(val1) > 0){
            //        vattotal = parseFloat(vattotal) + parseFloat(val1);
            //    }
            //});

            let discount = $("#Discount").val();
            let charges = $("#OtherCharges").val();

            if (parseFloat(discount) > 0) {
                discount = parseFloat(discount);
            }
            else {
                discount = 0;
            }

            if (parseFloat(charges) > 0) {
                charges = parseFloat(charges);
            }
            else {
                charges = 0;
            }

            total = ((parseFloat(total) + parseFloat(charges)) - parseFloat(discount));


            //   $("#VatAmount").val(vattotal.toFixed(2));
            //   $("#VatAmount").attr('data-val',vattotal.toFixed(2));
            $("#Total").val(total.toFixed(2));

            $("#totPcs").val(totQty.toFixed(2));
            $("#totPcs").attr('data-val', totQty.toFixed(2));
        }



        //$("#VatAmount").keyup(function () {
        //    let prev = $(this).attr('data-val');
        //     let curVat = $(this).val();
        //     let tot = $("#Total").val();

        //     if(parseFloat(prev) > 0){
        //         prev = prev;
        //     }
        //     else{
        //         prev=0;
        //     }

        //     if(parseFloat(curVat) > 0){
        //         curVat = curVat;
        //     }
        //     else{
        //         curVat=0;
        //     }

        //     if(parseFloat(tot) > 0){
        //         tot = tot;
        //     }
        //     else{
        //         tot=0;
        //     }

        //     if(parseFloat(tot) > 0){
        //         tot = (parseFloat(parseFloat(tot) - parseFloat(prev)) + parseFloat(curVat));
        //          $("#Total").val(tot.toFixed(2));
        //          $(this).attr('data-val', curVat);
        //     }

        //});

        $("#Discount").keyup(function () {
            let prev = $(this).attr('data-val');
            let discount = $(this).val();
            let tot = $("#Total").val();

            if (parseFloat(prev) > 0) {
                prev = prev;
            }
            else {
                prev = 0;
            }

            if (parseFloat(discount) > 0) {
                discount = discount;
            }
            else {
                discount = 0;
            }

            if (parseFloat(tot) > 0) {
                tot = tot;
            }
            else {
                tot = 0;
            }

            tot = (parseFloat(parseFloat(tot) + parseFloat(prev)) - parseFloat(discount));

            $("#Total").val(tot.toFixed(2));
            $(this).attr('data-val', discount);
        });

        $("#OtherCharges").keyup(function () {
            let prev = $(this).attr('data-val');
            let charges = $(this).val();
            let tot = $("#Total").val();

            if (parseFloat(prev) > 0) {
                prev = prev;
            }
            else {
                prev = 0;
            }

            if (parseFloat(charges) > 0) {
                charges = charges;
            }
            else {
                charges = 0;
            }

            if (parseFloat(tot) > 0) {
                tot = tot;
            }
            else {
                tot = 0;
            }

            tot = (parseFloat(parseFloat(tot) - parseFloat(prev)) + parseFloat(charges));

            $("#Total").val(tot.toFixed(2));
            $(this).attr('data-val', charges);
        });


        function GetItems(Id) {
            $.ajax({
                url: "/Shipping/GetShippingDetails/" + Id,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        for (i = 0; i < data.length; i++) {
                            var result = JSON.parse(JSON.stringify(data[i]));
                            let curItemId = result.Id;
                            let code = result.Barcode;
                            let productId = result.ProductId;
                            let desc = result.DescriptionEng;
                            let descab = result.DescriptionArabic;
                            let sku = result.SkuId;
                            let skuText = result.Sku;
                            let cat = result.CategoryId;
                            let catText = result.CategoryName;
                            let parentCat = result.ParentCategoryId;
                            let seassonId = result.SeassonId;
                            let seassonText = result.SessonName;
                            let deptId = result.DepartmentId;
                            let deptText = result.DepartmentName;
                            let color = result.ColorId;
                            let colorText = result.ColorName;
                            let size = result.SizeId;
                            let sizeText = result.SizeName;

                            let yearId = result.YearId;
                            let yearText = result.YearName;
                            let unit = result.UnitId;
                            let brand = result.BrandId;
                            let vendor = result.VendorId;
                            let group = result.GroupId;
                            // let descriptionId = $("#Description").val();

                            let boxno = result.BoxNo;

                            let qtyb = result.QtyPerBox;
                            let qty = result.Qty;
                            let rqty = parseInt(result.ReceivedQty) > 0 ? result.ReceivedQty : '';
                            let cost = result.Price;
                            let total = result.Total; //parseFloat(cost) * parseFloat(qty);  //$("#txtTotal").val();
                            let sellp = result.StrSalePrice;
                            let sellVat = result.StrSaleVat;
                            let orgP = result.StrOriginalPrice;

                            let pic1 = result.ProductImage;
                             let productImg = "";

                            if (pic1 != "" && pic1 !="null"){
                                pic1 = "@productImgPath" + pic1;
                                productImg = "<img src='" + pic1 + "' class='curImg' style = 'width:70px;' /> ";
                            }

                            if (parseInt(cat) > 0) {
                                catText = catText;
                            }
                            else {
                                catText = "";
                            }
                            if (parseInt(seassonId) > 0) {
                                seassonText = seassonText;
                            }
                            else {
                                seassonText = "";
                            }
                            if (parseInt(deptId) > 0) {
                                deptText = deptText;
                            }
                            else {
                                deptText = "";
                            }

                            if (parseInt(size) > 0) {
                                sizeText = sizeText;
                            }
                            else {
                                sizeText = "";
                            }

                            if (parseInt(color) > 0) {
                                colorText = colorText;
                            }
                            else {
                                colorText = "";
                            }


                            let rowId = "Row_" + Date.now() + "_" + new Date().getMilliseconds();
                            var itemCell = "<tr id='" + rowId + "'>";


                            itemCell += '<td>' + code + '</td>';
                            itemCell += '<td>' + desc + '</td>';
                            itemCell += '<td>' + descab + '</td>';
                            itemCell += '<td>' + seassonText + '</td>';
                            itemCell += '<td>' + deptText + '</td>';
                            itemCell += '<td>' + skuText + '</td>';
                            itemCell += '<td>' + sizeText + '</td>';
                            itemCell += '<td>' + colorText + '</td>';
                            itemCell += '<td>' + yearText + '</td>';
                            itemCell += '<td>' + boxno + '</td>';
                            itemCell += '<td>' + qtyb + '</td>';
                            itemCell += '<td class="ItemQtyX">' + qty + '</td>';
                            itemCell += '<td>' + rqty + '</td>';
                            itemCell += '<td>' + cost + '</td>';
                            itemCell += '<td class="itemtotlx">' + total + '</td>';
                            itemCell += '<td>' + productImg + '</td>';
                            itemCell += '<td>' + sellp + '</td>';
                            itemCell += '<td>' + sellVat + '</td>';
                            itemCell += '<td>' + orgP + '</td>';
                            itemCell += '</tr>';

                            $('#tblItems tbody').append(itemCell);
                            //  $('#tblItems #' + rowId).append(itemCell);
                            CalculateTotal();
                        }
                    }

                    sleep();


                    $(".close").trigger('click');
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }


        GetItems("@Model.Id");

        $('#SupplierId').val("@Model.SupplierId");
        $("#SupplierId").trigger('change.select2');
        $('#ToStoreId').val("@Model.ToStoreId");
        $("#ToStoreId").trigger('change.select2');

        const delay = (delayInms) => {
            return new Promise(resolve => setTimeout(resolve, delayInms));
        }

        const sleep = async () => {
            let delayres = await delay(1000);
        }

        $(".chPrint").click(function () {
            let str = "";
            $(".chPrint").each(function () {
                if ($(this).is(':checked')) {
                    if (str == "") {
                        str = $(this).val();
                    }
                    else {
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintColumns").val(str);

        });

        $("#btnPrint").click(function () {
            $("#printModal").modal();
        });

        function ReportPopup(Doc) {
            let FileName = "@reportPath" + Doc;
            printJS(FileName);
        }

        $("#btnReportGen").click(function () {
            let cols = $("#PrintColumns").val();
            let Id = $("#Id").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Shipping/ShippmentReportCreate/" + Id,
                type: "POST",
                dataType: "json",
                data: { id: Id, colnames: cols, pagetype: type },
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    ReportPopup(result);
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });

        $(document).on("click", ".curImg", function () {
            // Get the modal
            var modal = document.getElementById("imageModal");
            var modalImg = document.getElementById("modelImg");
            modal.style.display = "block";
            modalImg.src = this.src;
        });

        $("#popupClose").click(function () {
            $("#imageModal").css('display', 'none');
        });

    </script>
}