@page "/Administrator/UserPasswordChange/{id}"
@using WinProApp.Resources;
@model ChangeUserPasswordModel

@{
    ViewData["Title"] = WebResource.Change + " " + WebResource.Password;
}


<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row col-md-10">
                    <div class="col-md-3">@WebResource.Password:</div>
                    <div class="col-md-5">@ViewData["UserFirstName"]</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row col-md-10">
                    <div class="col-md-3">@WebResource.LastName:</div>
                    <div class="col-md-5">@ViewData["UserLastName"]</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row col-md-10">
                    <div class="col-md-3">@WebResource.UserName:</div>
                    <div class="col-md-5">@ViewData["UserName"]</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row col-md-10">
                    <div class="col-md-3">@WebResource.Email:</div>
                    <div class="col-md-5">@ViewData["Email"]</div>
                </div>
            </div>
            
            <div class="form-floating">
                <label asp-for="Input.NewPassword" class="form-label">@WebResource.New @WebResource.Password</label>
                <input asp-for="Input.NewPassword" class="form-control col-md-6" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.ConfirmPassword" class="form-label">@WebResource.ConfirmPassword</label>
                <input asp-for="Input.ConfirmPassword" class="form-control col-md-6" autocomplete="new-password" aria-required="true" />
                 <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div style="width:100%; padding:5px; height:10px;">&nbsp;</div>
            <button type="submit" class="w-100 btn btn-lg btn-primary col-md-6">@WebResource.Update @WebResource.Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
